absl-py==0.7.1
alabaster==0.7.12
astor==0.8.0
Babel==2.6.0
boto==2.49.0
boto3==1.9.152
botocore==1.12.152
certifi==2019.3.9
chardet==3.0.4
commonmark==0.9.0
docutils==0.14
docutils-stubs==0.0.21
future==0.17.1
gast==0.2.2
gensim==3.7.3
grpcio==1.20.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
jieba==0.39
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
keras-bert==0.41.0
keras-embed-sim==0.3.0
keras-layer-normalization==0.11.0
keras-multi-head==0.18.0
keras-pos-embd==0.9.0
keras-position-wise-feed-forward==0.4.0
Keras-Preprocessing==1.0.9
keras-self-attention==0.39.0
keras-transformer==0.21.0
Markdown==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
mypy==0.701
mypy-extensions==0.4.1
numpy==1.16.3
packaging==19.0
pandas==0.24.2
protobuf==3.7.1
Pygments==2.4.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
recommonmark==0.5.0
requests==2.22.0
s3transfer==0.2.0
scikit-learn==0.21.1
scipy==1.3.0
seqeval==0.0.10
six==1.12.0
sklearn==0.0
smart-open==1.8.3
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
typed-ast==1.3.5
urllib3==1.25.2
Werkzeug==0.15.4
