# test & coverage
flake8
flake8-builtins
mypy
pytest>=5.4.3
pytest-cov
pytest-split
coveralls

# documents
sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinx-markdown-tables
sphinx-autodoc-typehints
recommonmark
m2r

# develop
jupyterlab
tabulate
pandas
