absl-py==0.7.1
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
boto==2.49.0
boto3==1.9.156
botocore==1.12.156
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
docutils==0.14
entrypoints==0.3
flake8==3.7.7
flake8-builtins==1.4.1
gast==0.2.2
gensim==3.7.3
grpcio==1.21.1
h5py==2.9.0
idna==2.8
jieba==0.39
jmespath==0.9.4
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
keras-bert==0.53.0
keras-embed-sim==0.4.0
keras-gpt-2==0.8.0
keras-layer-normalization==0.12.0
keras-multi-head==0.19.0
keras-pos-embd==0.10.0
keras-position-wise-feed-forward==0.5.0
Keras-Preprocessing==1.0.9
keras-self-attention==0.41.0
keras-transformer==0.22.0
Markdown==3.1.1
mccabe==0.6.1
mock==3.0.5
more-itertools==7.0.0
nose==1.3.7
numpy==1.16.3
pandas==0.24.2
pluggy==0.11.0
protobuf==3.7.1
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==4.5.0
pytest-azurepipelines==0.6.0
pytest-cov==2.7.1
python-coveralls==2.9.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
regex==2019.5.25
requests==2.22.0
s3transfer==0.2.0
scikit-learn==0.21.2
scipy==1.3.0
seqeval==0.0.10
six==1.12.0
sklearn==0.0
smart-open==1.8.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.15.4
