sklearn
h5py
keras-bert>=0.50.0
keras-gpt-2>=0.8.0
gensim>=3.5.0
seqeval==0.0.10
pandas>=0.23.0
jieba
python-coveralls
coverage
flake8
flake8-builtins
pytest
pytest-azurepipelines
pytest-cov
nose
sphinx
sphinx_rtd_theme
sphinx_markdown_tables
m2r
tensorflow
recommonmark