absl-py==0.7.1
alabaster==0.7.12
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
boto==2.49.0
boto3==1.9.186
botocore==1.12.186
certifi==2019.6.16
chardet==3.0.4
Click==7.0
commonmark==0.9.0
coverage==4.5.3
docutils==0.14
entrypoints==0.3
flake8==3.7.8
flake8-builtins==1.4.1
future==0.17.1
gast==0.2.2
gensim==3.8.0
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
htmlmin==0.1.12
idna==2.8
imagesize==1.1.0
importlib-metadata==0.18
jieba==0.39
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsmin==2.2.2
kashgari-tf==0.5.0
Keras==2.2.4
Keras-Applications==1.0.8
keras-bert==0.68.1
keras-embed-sim==0.7.0
keras-gpt-2==0.12.0
keras-layer-normalization==0.12.0
keras-multi-head==0.20.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.28.0
livereload==2.6.1
m2r==0.2.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkdocs==1.0.4
mkdocs-material==4.4.0
mkdocs-minify-plugin==0.2.1
more-itertools==7.1.0
nose==1.3.7
numpy==1.16.4
packaging==19.0
pandas==0.24.2
pluggy==0.12.0
protobuf==3.8.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pymdown-extensions==6.0
pyparsing==2.4.0
pytest==5.0.1
pytest-azurepipelines==0.8.0
pytest-cov==2.7.1
python-coveralls==2.9.2
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
recommonmark==0.5.0
regex==2019.6.8
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.21.2
scipy==1.3.0
seqeval==0.0.10
six==1.12.0
sklearn==0.0
smart-open==1.8.4
snowballstemmer==1.2.1
Sphinx==2.1.2
sphinx-markdown-tables==0.0.9
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0rc1
termcolor==1.1.0
tornado==6.0.3
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.15.4
wrapt==1.11.1
zipp==0.5.2
