body,
h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "微软正黑体", "Microsoft JhengHei", sans-serif;
}

.wy-side-nav-search > div.version {
    margin-top: 5px;
}

.wy-nav-content {
    max-width: 1280px;
}

.pre {
    font-family: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace
}
