# documents
sphinx>=3.0.0
sphinx-autobuild>=0.7.1
sphinx-rtd-theme
sphinx-markdown-tables
recommonmark
m2r

# dependence
numpy==1.18.1
gensim>=3.8.1
pandas>=1.0.1
tqdm

bert4keras
sklearn
tensorflow==2.0.1
